<!DOCTYPE html>
<html lang="en" ng-app="StarterApp">
<head>
  <title>Currency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <meta name="viewport" content="initial-scale=1" />

</head>
<body layout="column" ng-controller="AppCtrl">
	<p class="navbar-text pull-right">
		<% if user_signed_in? %>
		Logged in as <strong><%= current_user.email %></strong>.
		<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
		<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
	</p>

	<div class="container">
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		<%= yield %>
		
	</div>
	<!-- Angular Material Dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
	<script>
		var app = angular.module('StarterApp', ['ngMaterial']);

		app.controller('AppCtrl', ['$scope', '$mdSidenav', function($scope, $mdSidenav){
		$scope.toggleSidenav = function(menuId) {
		$mdSidenav(menuId).toggle();
		};

		}]);
		angular.module('buttonsDemo1', ['ngMaterial'])
		.controller('AppCtrl', function($scope) {
		$scope.title1 = 'Button';
		$scope.title4 = 'Warn';
		$scope.isDisabled = true;
		$scope.googleUrl = 'http://google.com';
		});

$(document).ready(function(){
	$("#pleasedo").click(function(){
		
		var c1 = document.getElementById("country1").value;
		var c2 = document.getElementById("country2").value;
		

		$.ajax({

			url: 'https://currency-api.appspot.com/api/'+c1+'/'+c2+'.jsonp',
			dataType: "jsonp",
			data: {amount: '1.00'},
			success: function(response) {
				if (response.success) {
					$("#rate").html(response.rate);
				}
				else{
					$("#rate").html("Failed to retrieve");
				}
			}
		});
	});
});
</script>
</body>
</html>
